.layout-container {
    @apply h-screen w-full bg-gray-100;
  }
  
  .content-container {
    @apply flex h-[calc(100vh-4rem)];
  }
  
  .main-content {
    @apply flex-1 p-4 overflow-auto;
  }
  
  :host {
    display: block;
    height: 80vh;
  }